---
import { Image } from 'astro:assets'
import cliente from '../../public/images/cliente/Logo-KFC.png' // La imagen de producto
import cliente2 from '../../public/images/cliente/KFC.png' // La imagen de producto
---

<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />

<astro-doc>
	<div class="container">
		<div class="signin-signup">
			<form class="sign-in-form" action="/client">
				<div class="container2">
					<h3>Seleccione una sucursal</h3>
					<br />
					<div class="card-container">
						<a href="/client">
							<div class="card">
								<Image src={cliente} alt="" class="mi-clase" />
								<h3>KFC</h3>
								<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>
								<i class="bx bx-chevron-right bx-sm"></i>
							</div>
						</a>

						<a href="/client">
							<div class="card">
								<Image src={cliente} alt="" class="mi-clase" />
								<h3>KFC</h3>
								<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>

								<i class="bx bx-chevron-right bx-sm"></i>
							</div>
						</a>

						<a href="/client">
							<div class="card">
								<Image src={cliente} alt="" class="mi-clase" />
								<h3>KFC</h3>
								<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>

								<i class="bx bx-chevron-right bx-sm"></i>
							</div>
						</a>

						<a href="/client">
							<div class="card">
								<Image src={cliente} alt="" class="mi-clase" />
								<h3>KFC</h3>
								<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>

								<i class="bx bx-chevron-right bx-sm"></i>
							</div>
						</a>

						<a href="/client">
							<div class="card">
								<Image src={cliente} alt="" class="mi-clase" />
								<h3>KFC</h3>
								<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>

								<i class="bx bx-chevron-right bx-sm"></i>
							</div>
						</a>

						<div class="card">
							<Image src={cliente} alt="" class="mi-clase" />
							<h3>KFC</h3>
							<p>Sucursal 4to anillo, av 4to anillo, 3 pasos al frente</p>
							<a href="/client">
								<i class="bx bx-chevron-right bx-sm"></i>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>
						<button class="back-btn"><i class="bx bx-arrow-back"></i> Volver</button>
						Locoto
					</h3>
					<p>"Puntos de ventas"</p>
					<Image src={cliente2} class="image" alt="Logo-cliente" width="600" height="500" />
				</div>
			</div>
		</div>
	</div>
</astro-doc>
