---
import { Image } from 'astro:assets'
import food1 from '../../public/images/food/11.jpg' // La imagen de producto
import food2 from '../../public/images/food/9.jpg' // La imagen de producto
import food3 from '../../public/images/food/10.jpg' // La imagen de producto
import food4 from '../../public/images/food/2.jpg' // La imagen de producto
---

<div class="category">
	<div class="container">
		<div class="category-item-container has-scrollbar">
			<div class="category-item">
				<div class="category-img-box">
					<!-- <img
							src="./images/food/food-menu-1.png"
							alt="HAMBURGUESAS"
							width="30"
					/> -->
					<Image src={food1} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(53)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>

			<div class="category-item">
				<div class="category-img-box">
					<!-- <img
							src="./images/food/food-menu-2.png"
							alt="HAMBURGUESAS"
							width="30"
					/> -->
					<Image src={food2} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(58)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>

			<div class="category-item">
				<div class="category-img-box">
					<!-- <img
							src="./images/food/food-menu-3.png"
							alt="HAMBURGUESAS"
							width="30"
					/> -->

					<Image src={food3} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(68)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>

			<div class="category-item">
				<div class="category-img-box">
					<!-- <img
							src="./images/food/food-menu-4.png"
							alt="HAMBURGUESAS"
							width="30"
					/> -->
					<Image src={food4} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(84)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>

			<div class="category-item">
				<div class="category-img-box">
					<Image src={food4} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(84)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>

			<div class="category-item">
				<div class="category-img-box">
					<Image src={food4} alt="HAMBURGUESAS" width="30" />
				</div>

				<div class="category-content-box">
					<div class="category-content-flex">
						<h3 class="category-item-title">HAMBURGUESAS</h3>

						<p class="category-item-amount">(84)</p>
					</div>

					<a href="#" class="category-btn">Ver mas</a>
				</div>
			</div>
		</div>
	</div>
</div>
